---
layout: base
---
<div class="overlay">
  <div class="page-title">
    <h1>arts</h1>
  </div>
  <div>
    <div class="text">
      <p>
        Seething about the anticlimactic ending of a masterful show? Eager to break down an incendiary pop culture moment? Excited about an upcoming concert with your favorite musician? Arts is the board for you. 
      </p>
      <p>
        The Arts Board of The Crimson teems with cinephiles and book lovers, TV aficionados, and theater enthusiasts. Broadly speaking, however, Arts is a board for anyone who cares deeply about what we see, watch, and hear, and who wants to use art as a way of reflecting on our world and shaping vital civic conversations. </p>
      <p>
        Our coverage encompasses topics including <a href="https://www.thecrimson.com/article/2020/8/17/folklore-album-review-article/"> pop</a>
        <a href="https://www.thecrimson.com/article/2021/3/30/taraji-p-henson-profile/"> culture</a> 
        <a href="https://www.thecrimson.com/article/2021/2/19/framing-britney-spears/"> icons</a>, 
        <a href="https://www.thecrimson.com/article/2020/4/21/ezra-miller-scandal/" > bizarre</a>
        <a href="https://www.thecrimson.com/article/2021/10/5/wthh-chris-pratt-mario/"> celebrity</a> 
        <a href="https://www.thecrimson.com/article/2021/11/2/wthh-don-jr-rust-tshirts/" >scandals</a>,
        <a href="https://www.thecrimson.com/article/2019/10/1/lana-lizzo-and-the-lure-of-trumps-twitter/"> tectonic shifts in the entertainment 
        landscape</a>, and the <a href="https://www.thecrimson.com/article/2021/2/12/michael-j-bobbitt-profile/"> important work of local arts leaders</a>.
         We also cover Harvard&#39;s arts scene: from <a href="https://www.thecrimson.com/article/2020/2/14/man-of-the-year-ben-platt/"> Ben Platt&#39;s “Man of the Year”
         celebration </a> to the <a href="https://www.thecrimson.com/article/2020/3/6/Hasty-Pudding-Theatricals-Mean-Ghouls-Review/"> Hasty Pudding&#39;s yearly musical comedy </a> 
         to the <a href="https://www.thecrimson.com/article/2019/3/26/handel-and-haydn-orchestra-beethoven-review/"> Handel and Haydn's society&#39;s latest performance</a>.
      </p>
      <p>
        Aside from being a part of the wonderful, idiosyncratic, and outrageously witty community that is the Arts Board, there are
         plenty of other perks to comping as well! Our writers have attended the <a href="https://www.thecrimson.com/topic/cannes-2019/"> Cannes Film Festival </a>>,
        sat down to <a href="https://www.thecrimson.com/article/2012/3/20/casa-de-mi-padre-ferrell/"> interview Will 
         Ferrell </a>, and regularly get tickets to movie screenings, music performances, and guest speaker events — all free of charge.  
      </p>
      <p>
        We, like all Crimson boards, welcome everyone regardless of prior journalism experience. Our comp is designed to teach you everything you will need to know as a writer, from interviewing techniques to crafting a perfect lede. All you need to do is show up—and write!
      <p>
        <h4 style="margin-bottom: 5px; text-decoration: underline;">Requirements</h4>
        We&#39;ll go over all of these at our first meeting, but in case you&#39;re curious, here&#39;s what you&#39;ll need to write to become a writer for Crimson Arts:
        <ul>
          <li>
            2 reviews (reviews of movies, albums, books, theater, and exhibits)
          </li>
          <li>
            1 feature (longer pieces that do not fall under the category of criticism—e.g., event coverage)
          </li>
          <li>
            1 profile (longer, interview-driven pieces featuring an artist or cultural figure)
          </li>
          <li>
            1 Culture article (formerly known as Arts Blog)
          </li>
          <li>
            1 additional pieces for Arts
          </li>
          <li>
            One of these 6 required pieces must be self-pitched
          </li>
        </ul>
      </p>
      <p>
        Articles are pitched out by editors at our weekly Writers&#39; Meetings, which take place on Mondays at 7 p.m.
      </p>
      <p>
        In addition to writing articles, compers must attend our weekly comp seminars at 6 p.m. on Mondays(i.e., directly before Writers&#39; Meetings). At these seminars we&#39;ll teach you everything you need to know about arts writing, even if you have never written a complete sentence.
      </p>
      <p>
        Did you start comping Arts but got distracted? Don&#39;t sweat it. We&#39;ve kept track of everything you&#39;ve already written and the articles still count towards your comp. 
      </p>
      <p>
        For those of you returning from a prior semester to complete your comp: Come back soon. We miss you.
      </p>
      <p>
        Questions? Comments? Strong opinions about Euphoria? Email comp directors {% include comp_director.html director=site.arts.dir1 %} and {% include comp_director.html director=site.arts.dir2 %}.
      </p>
    </div>
  </div>
</div>
