---
layout: base
---
<div class="overlay">
  <div class="page-title">
    <h1>arts</h1>
  </div>
  <div>
    <div class="text">
      <p>
        Seething about the anticlimactic ending of a masterful show? Eager to break down an incendiary pop culture moment? Excited about an upcoming concert with your favorite musician? Curious about the team behind Harvard's biggest musical of the season? Arts is the board for you.
      </p>
      <p>
        The Arts Board of The Crimson teems with cinephiles and book lovers, TV aficionados, and theater enthusiasts. Broadly speaking, Arts is a board for anyone who cares deeply about what we see, watch, and hear, and anyone who wants to use art as a way of reflecting on our world and shaping vital civic conversations — and is interested in becoming a community arts reporter, cover art on campus, in the metro area, and beyond.</p>
      <p>
        Our coverage encompasses topics including <a href="https://www.thecrimson.com/article/2024/4/9/kwesi-james-try-everything-internet-personality-hollywood-profile/">pop culture icons</a>,
        <a href="https://www.thecrimson.com/article/2024/4/30/the-sinclair-strumbellas-concert-review/">local concerts</a>, <a href="https://www.thecrimson.com/article/2024/11/19/bleachers-merry-christmas-please-dont-call-single-review/">newly released art</a>, and the
        <a href="https://www.thecrimson.com/column/underground-overlooked-art-of-the-red-line/article/2023/12/12/underground-overlooked-new-england-decorative-arts/">important work of local arts leaders</a>.
        We also cover Harvard&#39;s arts scene: from <a href="https://www.thecrimson.com/article/2024/2/22/barry-keoghan-man-of-year-hasty-pudding-theatricals-harvard-2024/">Barry Keoghan&#39;s “Man of the Year”
         celebration</a> to the <a href="https://www.thecrimson.com/article/2023/11/14/harvardkey-a-veri-secure-jam-veritones-lowkeys-feature/">a capella shows</a> 
         to the <a href="https://www.thecrimson.com/article/2024/12/24/max-allison-25-harvard-art-tech-brain-waves-synthesizer-actor-conflux/">the work of student artists</a>.
         We have long traditions of covering Boston’s biggest cultural institutions: from the <a href="https://www.thecrimson.com/article/2024/10/1/Boston-symphony-orchestra-concert-for-the-city-mayor-wu/">Boston Symphony Orchestra</a> to the <a href="https://www.thecrimson.com/article/2024/10/29/georgia-okeeffe-henry-moore-mfa-boston-exhibition/">Museum of Fine Arts</a> to the <a href="https://www.thecrimson.com/article/2022/11/29/boston-ballet-2022-as-anticipated-review-article/">Boston Ballet</a>.
      </p>
      <p>
        Aside from being a part of the wonderful, idiosyncratic, and outrageously witty community that is the Arts Board, there are
         plenty of other perks to comping as well! Our writers have attended the <a href="https://www.thecrimson.com/article/2024/9/10/anora-cannes-sean-baker/">Cannes Film Festival</a>,
        sat down to interview people like <a href="https://www.thecrimson.com/article/2012/3/20/casa-de-mi-padre-ferrell/">Will 
         Ferrell </a> and <a href="https://www.thecrimson.com/article/2024/3/19/celeste-ng-profile-truth-crowbar-subjective-little-fires-everywhere/">Celeste Ng</a>, and regularly get tickets to advance movie screenings, music performances, and guest speaker events — all free of charge.  
      </p>
      <p>
        We, like all Crimson boards, welcome everyone regardless of prior journalism experience. Our comp is designed to teach you everything you will need to know as a writer, from interviewing techniques to crafting the perfect lede. All you need to do is show up—and write!
      <p>
        <h4 style="margin-bottom: 5px; text-decoration: underline;">Requirements</h4>
        We&#39;ll go over all of these at our first meeting, but in case you&#39;re curious, here&#39;s what you&#39;ll need to complete in order to become a writer for Crimson Arts:
        <ul>
          <li>
            2 reviews (evaluative pieces on movies, albums, books, theater, exhibits, and more)
          </li>
          <li>
            1 feature (longer pieces that do not fall under the category of criticism—e.g., event coverage)
          </li>
          <li>
            1 profile (longer, interview-driven pieces featuring an artist or cultural figure)
          </li>
          <li>
            1 think piece (research-based, argumentative pieces)
          </li>
          <li>
            1 additional article for Arts
          </li>
          <li>
            One of the required pieces must be self-pitched, and one must be metro-based (local coverage outside of Harvard's campus), and one must be Harvard-based (coverage on Harvard’s campus or about someone from Harvard)
          </li>
        </ul>
      </p>
      <p>
        One of the coolest parts about the Crimson Arts comp is that when you finish, you will have six published pieces on the website (and potentially a couple in print).
      </p>
      <p>
        Articles are pitched out by editors at our weekly Writers&#39; Meetings, which take place on Mondays at 7 p.m.
      </p>
      <p>
        In addition to writing articles and attending Writers&#39; Meetings, compers must attend our weekly comp seminars at 6 p.m. on Mondays (i.e., directly before Writers&#39; Meetings). At these seminars we&#39;ll teach you everything you need to know about arts writing, even if you have never written a complete sentence.
      </p>
      <p>
        Comping another board as well? Talk to your comp directors to learn more about our policies that may lessen your Arts comp requirements.
      </p>
      <p>
        Did you start comping Arts but got distracted? Don&#39;t sweat it. We&#39;ve kept track of everything you&#39;ve already written and the articles still count towards your comp. 
      </p>
      <p>
        For those of you returning from a prior semester to complete your comp: Come back soon. We miss you.
      </p>
      <p>
        Questions? Comments? Strong opinions about Taylor Swift? Email comp directors {% include comp_director.html director=site.arts.dir1 %} and {% include comp_director.html director=site.arts.dir2 %}.
      </p>
    </div>
  </div>
</div>
