---
layout: base
---
<div class="overlay">
  <div class="page-title">
    <h1>blog</h1>
  </div>
  <div>
    <div class="text">
      <p>Are you hilarious? Witty? Mildly interesting to be around? Want a great community of people to laugh and eat snacks with? If any of these apply to you, Blog is the place (board?) to be. We cover a variety of content, from <a href="https://www.thecrimson.com/flyby/how-to-harvard/">how-to guides</a> to <a href="https://www.thecrimson.com/flyby/article/2020/3/24/vibe-check-zoom-section/">vibe checks</a> to <a href="https://www.thecrimson.com/flyby/article/2018/2/24/angsty-harvard-things-by-rupi-kaur/">Rupi Kaur-inspired poetry</a>. Blog is one of the most well-read sections of The Crimson, and our posts have been picked up by multiple national and international news outlets.</p>
      <p><a href="https://www.thecrimson.com/section/flyby/">Flyby</a> is the flagship blog of the Crimson and covers student life — we follow all things happening on campus, from <a href="https://www.thecrimson.com/topic/housing-market-2018/">Housing Day</a> to <a href="https://www.thecrimson.com/topic/guide-to-visitas-2019/">Visitas</a> (on campus or online!), and allow you to write about what most interests you! As an already fully digital board, we&#39;re ahead of the game with this adjustment to virtual life and can&#39;t wait to keep producing relevant <a href="https://www.thecrimson.com/flyby/article/2020/8/14/how-to-get-ready-virtual-shopping-week/">content</a> by Harvard students, for Harvard students.<p> 
      <p>Whatever your interests (journalism, humor, or more), Blog will give you the space, training, and support to develop your own creative passions at 14p — just so long as it doesn&#39;t involve actual paper. But don&#39;t worry: we'll have gifs.</p>
      <p><u>Requirements:</u></p>
      <p>Yay if you’ve made it this far! Here&#39;s what you&#39;ll need to do during the comp process to join the Blog:</p>
      <ul>
        <li>Write a total of 6 posts over the semester, including 1 from each of the following categories:</li>
        <ul type="circle">
          <li> 1 Collaborative Piece</li>
          <li>1 Investigative Piece</li>
        </ul>
        <li>Attend weekly comp meetings</li>
        <li>Attend at least one office hours appointment every two weeks</li>
      </ul>
      <p>If writing six pieces sounds intimidating, don&#39;t worry! If you’re looking for a cut-throat comp experience, you’re in the wrong place. We (Rachel + Peyton) are super psyched to work with all our of compers on developing their pieces, from the I-have-vague-idea-of-joke-I-want-to-make-into-a-piece stage to the finishing touches!</p>
      <p>We&#39;ll be having our first official comp meeting the week of September 7th, and we would love to see you there – while we won’t have our traditional assortment of Trader Joe&#39;s snacks at every meeting, we&#39;ll still have a great time learning more about journalism, the Blog, and getting to know each other!</p>
      <p>Once you join Flyby, we have full-board meetings at 1 p.m. on Sundays.</p> 
      <p>Lastly, if you&#39;re looking for a real ~family~ on campus, look no further. Ask anyone in Flyby (or in The Crimson, for that matter!) and they&#39;ll tell you how amazing our Flyfam is, with socials ranging from cute get-togethers with board-games to end-of-semester dinners at Border Cafe.</p> 
      <p>While we&#39;re online, you can catch us chatting in our groupme at all hours of the day, watching movies, or spending time over Zoom talking about anything and everything that happened to us that week - in general, you&#39;ll always find someone on Flyby ready to listen to your latest rant (and maybe even encourage you to write a piece about it!)</p>
      <p>Any questions? Want more information? Don&rsquo;t hesitate to contact our Blog Comp Directors, {% include comp_director.html director=site.blog.dir1 %} and {% include comp_director.html director=site.blog.dir2 %}, with any and all questions and concerns. Hope to see you in the fall!</p> 
      Any questions? Want more information? Don’t hesitate to contact our Blog Comp Directors, Peyton A. Jones (peyton.jones@thecrimson.com) and Rachel L. Reynolds (rachel.reynolds@thecrimson.com), with any and all questions and concerns. Hope to see you in the fall!

      <p>Are you hilarious? Witty? Mildly interesting to be around? If any of these apply to you, Blog is the place to be. We cover a variety of content, from the <a href="https://www.thecrimson.com/flyby/article/2016/11/23/turkeys-wont-go-away/">Harvard turkey</a> to <a href="https://www.thecrimson.com/flyby/article/2017/1/17/how-to-schmooze-profs/">how-to</a> <a href="https://www.thecrimson.com/flyby/article/2016/11/15/guide-to-ticketing/">guides</a> to potential <a href="https://www.thecrimson.com/flyby/article/2016/11/29/yardfest-warzone/">Yardfest</a> artists. Blog is one of the most well-read sections of The Crimson, and our posts have been picked up by national and international news outlets.</p>
      <p><strong><a href="https://www.thecrimson.com/section/flyby/">Flyby</a></strong> is the flagship blog of the Crimson and covers student life&mdash;we follow all things happening on campus, from the <a href="https://www.thecrimson.com/flyby/article/2016/11/20/what-you-missed-at-harvard-yale/">Game</a> to <a href="https://www.thecrimson.com/flyby/article/2016/12/8/tiffany-trump-hls/">celebrity</a> <a href="https://www.thecrimson.com/flyby/article/2016/12/7/major-key-alert-khaled/">sightings</a>, and allow you to write about what most interests you.</p>
      <p>Whatever your interests (journalism, humor, or more), Blog will give you the space, training, and support to develop your own creative passions at 14p&mdash;just so long as it doesn&#39;t involve actual paper. But don&#39;t worry: we&#39;ll have gifs.</p>
      <p>Any questions? Want more information? Don&rsquo;t hesitate to contact our Blog Comp Directors, {% include comp_director.html director=site.blog.dir1 %} and {% include comp_director.html director=site.blog.dir2 %}, with any and all questions and concerns.</p>
    </div>
  </div>
</div>
