---
layout: base
---
<div class="overlay">
  <div class="page-title">
    <h1>business</h1>
  </div>
  <div>
    <div class="text">
      <p><strong>The Crimson Business Board is the best way to gain real, valuable business experience as a student at Harvard in a community that is second to none.</strong> Our team is a lean and agile one, which allows every member of our team to <strong>solve complex business problems and make an impact on the growth of our business</strong>. In their first year on Board, we&rsquo;ve had associates sign five-figure contracts, produce award-winning sponsored content, and organize international conferences. </p>
      <p>Our alumni go on to join and thrive in a myriad of industries, from consulting and finance to software engineering and start-ups. On our current team alone, business editors have secured internships and full-time offers at Bain, McKinsey, Boston Consulting Group, Amazon, Facebook, Goldman Sachs, Morgan Stanley, Bank of America Merrill Lynch, Citi, SpaceX, and L&#39;Oreal, among others. </p>
      <p>We train you in the skills you need to succeed both on and off campus—and give you the network to leverage those skills. And your resume will gain a couple really impressive lines: Who wouldn&rsquo;t want to hire a person who sold &dollar;100,000 in advertisements as a college student or worked with Adobe to design and execute an Associated Collegiate Press award-winning advertisement campaign?</p>
      <p>The culture of the Business Board has always proven unique and tight-knit. We are a business that has 148 years of history in an industry that requires constant innovation. 100% financially independent from Harvard University, the work we do is both essential and truly hands-on. This responsibility to succeed, and the autonomy that comes with it, leads to unique experiences and lifelong friendships as Business Board members are constantly ideating, executing, and succeeding together. Whether you ask associates who comped their freshman fall, or those who comped their sophomore spring, they&rsquo;ll be able to point to the hands-on work they do from day one and tell you how close of a community Crimson Business really is.</p>
      <p>Any questions? Want more information? Don&rsquo;t hesitate to contact our Directors of Staff Development, {% include comp_director.html director=site.business.dir1 %} and {% include comp_director.html director=site.business.dir2 %} with any and all questions and concerns, or visit our website, <a href="https://www.business.thecrimson.com">business.thecrimson.com</a> for more details.</p>
    </div>
  </div>
</div>
