---
layout: base
---
<div class="overlay">
  <div class="page-title">
    <h1>editorial</h1>
  </div>
  <div>
    <div class="text">
      <p>Don&rsquo;t like The Crimson&rsquo;s opinions? Comp the Editorial Board. Seriously! We need you.</p>
      <p>From activism and protest, to social culture and curricula, to the University administration and Harvard&rsquo;s role in politics, we make it our business to bring together the sharpest commentaries, perspectives, and disagreements our community has to offer. And we know we can&rsquo;t do it without a diverse and open-minded group of editors - committed to listening to, learning with, and challenging each other.</p> 
      <p>Our editors participate in tri-weekly debates about the biggest issues and events at Harvard, as we produce daily staff editorials that have influenced administrative decisions and shown up in publications from the New Yorker to the LA Times. At the same time, editors write regular op-eds of their own and some even take up the challenge of a biweekly column. If you want a platform to share your vision for a better campus and community, believe that public discourse is an essential part of a healthy society, and want a nurturing community to develop your critical writing, speaking, and editing skills, Editorial is the group for you!</p>
      <p>
        During the comp, prospective editors will:
        <ul>
          <li>
            Attend weekly comp seminars, which take the form of interactive workshops, mock staff-editorial meetings, and Q&amp;A sessions with current board members
          </li>
          <li>
            Write and edit three op-eds and three staff-eds with one-on-one mentorship
          </li>
          <li>
            Meet new friends and join a community of passionate, engaged, and outspoken peers!
          </li>
        </ul>
      </p>
      <p>Any questions? Want more information? Don&rsquo;t hesitate to contact our Editorial Comp Directors, {% include comp_director.html director=site.editorial.dir1 %} or {% include comp_director.html director=site.editorial.dir2 %} with any and all questions and concerns. We are committed to making the Editorial Board a nurturing space for students of all backgrounds and are happy to work with you in balancing the challenges of a virtual semester.</p>
    </div>
  </div>
</div>
