---
layout: base
---
<div class="overlay">
  <div class="page-title">
    <h1>editorial</h1>
  </div>
  <div>
    <div class="text">
      <p>Don&rsquo;t like The Crimson&rsquo;s opinions? Comp the Editorial Board. Seriously!</p>
      <p>From activism and protest, to culture and curriculum, to admissions and Harvard&rsquo;s place in politics, our
        commentaries shape the conversation about one of the world&rsquo;s most important universities and challenge it
        to be better.</p>
      <p>And we know we can&rsquo;t do it without a diverse and open-minded group of editors committed to listening to,
        learning with, and challenging each other. We welcome students of all backgrounds to participate. No prior
        writing experience is necessary.</p>
      <p>Our editors participate in tri-weekly conversations about the biggest issues that concern Harvard to produce
        staff editorials that shape important conversations on campus, influence major administrative decisions, and get
        cited in publications from the New Yorker to the LA Times. Editors also work with top-rate content editors to
        write, fact-check, and revise op-eds &mdash; or, should they choose to apply, semester-long recurring
        columns.&nbsp;&nbsp;</p>
      <p>Editorial&rsquo;s work begins and ends with discourse, and healthy discourse requires a diverse and open-minded
        group of editors, committed to listening to, learning with, and challenging each other. We welcome students of
        all backgrounds to participate in our flexible, manageable, completion-based comp. No prior writing experience
        necessary. Financial assistance is available through The Crimson&rsquo;s Financial Aid Program (<a
          href="https://comp.thecrimson.com/" target="_blank" rel="noopener">read more about it here</a>).</p>
      <p>Finally, because trust and camaraderie are essential to our work, Editorial prides itself on being a community.
        Outside of our meetings, you can expect to spend time with each other at regular socials and retreats.</p>
      <p>If you are looking for a platform to share your vision for a better campus and community, believe that public
        discourse is an essential part of a healthy society, and want a nurturing community to develop your critical
        writing, speaking, and editing skills, Editorial is the group for you!</p>
      <p>
        During the comp, prospective editors will:
      <ul>
        <li>
          Attend weekly comp seminars, which take the form of interactive workshops, mock staff-editorial meetings, and
          Q&amp;A sessions with current board members
        </li>
        <li>
          Write and edit three op-eds and three staff-eds with one-on-one mentorship
        </li>
        <li>
          Meet new friends and join a community of passionate, engaged, and outspoken peers!
        </li>
      </ul>
      </p>
      <p>Any questions? Want more information? Don&rsquo;t hesitate to contact our Editorial Comp Directors, {% include
        comp_director.html director=site.editorial.dir1 %} or {% include comp_director.html director=site.editorial.dir2
        %} with any and all questions and concerns. We would love to talk more about our vibrant community, the
        Crimson’s financial aid program, and our ongoing debate about the rats of Harvard. We are committed to making
        the Editorial Board a nurturing space for students of all backgrounds and are happy to work with you in
        balancing the challenges of your semester. </p>
    </div>
  </div>
</div>