---
layout: base
---
<div class="overlay">
  <div class="page-title">
    <h1>editorial</h1>
  </div>
  <div>
    <p align="center">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/gs9Aya3nYZM?si=Tj50KLyGYnl88M8P" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </p>
    <div class="text">
      <p>Don&rsquo;t like The Crimson&rsquo;s opinions? Comp the Editorial Board. Seriously!</p>
      <p>From speech and protest, to culture and curriculum, to admissions and campus politics, you can have a hand in shaping conversations surrounding one of the world’s most important universities — praising it, criticizing it, and challenging it to be better.</p>
      <p>And we know we can&rsquo;t do it without a diverse and open-minded group of editors — committed to listening to,
        learning with, and challenging each other. We welcome students of all backgrounds to participate. No prior
        writing experience is necessary.</p>
      <p>Our editors engage in tri-weekly conversations about Harvard’s hottest issues, producing staff editorials (“staff-eds”) that have influenced administrative decisions and been featured in publications from the New Yorker to the LA Times.</p>
      <p>Editors are also tasked with writing their own columns (“op-eds”) and/or writing these staff-eds from the voice of the Ed Board. If you are seeking a platform to share your vision for a better campus and community, believe in the value of civil discourse and intellectual vitality, and would like a nurturing community to develop critical writing, speaking, and editing skills, Ed is the board for you!</p>
      <p>
        Throughout comp, prospective editors will:
      <ul>
        <li>
          Attend weekly comp sessions, including interactive workshops, mock staff-editorial meetings, Q&amp;A sessions with current 
          board members, and shadowing real staff-ed meetings
        </li>
        <li>
          Write and edit two op-eds and one staff-ed with one-on-one mentorship, developing one of those op-eds into a publishable piece
        </li>
        <li>
          Meet new friends and join a community of passionate, engaged, and outspoken peers!
        </li>
      </ul>
      </p>
      <p>Any questions? Want more information? Don&rsquo;t hesitate to contact our Editorial Comp Directors, {% include
        comp_director.html director=site.editorial.dir1 %}, {% include comp_director.html director=site.editorial.dir2
        %}, or {% include comp_director.html director=site.editorial.dir3 %}, with any and all questions and concerns. Feel free to reach out to learn more about our vibrant community, the Crimson’s financial aid program, and the comp process at large. We are committed to making the Editorial Board a nurturing space for students of all backgrounds and are happy to work with you to get through the comp process while balancing your coursework.</p>
    </div>
  </div>
</div>
