---
layout: base
---
<div class="overlay">
  <div class="page-title">
    <h1>magazine</h1>
  </div>
  <div>
    <div class="text">
      <p>
        &ldquo;In the future, everyone will be famous for fifteen minutes.&rdquo; &mdash; Andy Warhol
      </p>
      <p>
        We can&rsquo;t predict how you&rsquo;ll get famous, but we can promise you&rsquo;ll look good doing it. Comp Fifteen Minutes, the Crimson&rsquo;s weekly magazine, and hang out with the Cool Kids<sup>TM</sup> of 14 Plympton St.
      </p>
      <p>
        We publish The Crimson&rsquo;s <a href="https://www.thecrimson.com/article/2021/11/4/situationship-rules-guidelines/">sexiest content</a>, from profiles of <a href="https://www.thecrimson.com/article/2021/12/9/smith-center-chess/">quirky campus figures</a> to captivating <a href="https://www.thecrimson.com/article/2020/10/29/dubois-statue/">retrospections</a>, with a little <a href="https://www.thecrimson.com/article/2021/4/8/hot-harvard-nfts/">levity</a> in between. Every once in a while, we talk about our <a href="https://www.thecrimson.com/article/2021/11/18/night-shift-harvard-allnighter/">feelings</a>. We are a bit of everything, in the best way.
      </p>
      <p>
        This year, we'll be featuring more <a href="https://www.thecrimson.com/article/2020/6/9/shifting-plans-lens/">art</a>, <a href="https://www.thecrimson.com/article/2020/5/30/aiyana-lemons-lens/">poetry</a>, and non-traditional mediums, offering more space for our writers to showcase their skills. FM is the home of creative writing at The Crimson and we are so excited to expand this part of what we do this year.
      </p>
      <p>
        Oh, and we almost forgot: <a href="https://www.thecrimson.com/article/2021/11/11/boston-school-surveillance/">scrutinies</a>.
         They&rsquo;re our weekly <a href="https://www.thecrimson.com/section/fm/cover-story/">cover stories</a>, and consistently 
         rank among the <a href="https://www.thecrimson.com/article/2021/3/25/harvard-klan-scrut/">most-read</a> articles on The
          Crimson&rsquo;s website. "Scruts," as we call them, are long form deep dives into a variety of subjects &ndash; 
          from <a href="https://www.thecrimson.com/article/2020/4/9/huds-covid-scrutiny/">HUDS workers&rsquo;</a> struggling to
           work during the pandemic, to Harvard students tapped by 
           <a href="https://www.thecrimson.com/article/2020/3/5/campus-reform-scrutiny/">Fox News</a>, to a (supposedly) 
            <a href="https://www.thecrimson.com/article/2021/11/4/kirkland-is-haunted/">haunted historic library on campus</a>. If you&rsquo;re looking to flex your investigative reporting muscles, look no further.
      </p>
      <p>
        &ldquo;Wait,&rdquo; you might say. &ldquo;I don&rsquo;t have any investigative reporting muscles! I&rsquo;ve never written a magazine article in my life!&rdquo;
      </p>
      <p>
        That&rsquo;s where we come in: you&rsquo;ll join us for weekly comp seminars and staff writers&rsquo; meetings on Monday evenings, and you&rsquo;ll learn everything you need to know about writing for FM, from interview basics to structure and style. You’ll write four articles in any of our many content categories. You’ll refine those articles with brilliant editors and in turn, we hope, grow immensely as a writer.
      </p>
      <p>
        FM lends critical eyes and surprising angles to timely news threads. 
        When News writers were reporting on former Harvard Prof. Cornel West’s controversial departure from the University, we were in New York, 
         <a href="https://www.thecrimson.com/article/2021/10/14/cornel-west-harvard-tenure/">interviewing him in his office at the Union Theological Seminary</a>.
          When President Obama nominated Harvard alum Merrick Garland &rsquo;77 to the Supreme Court, we called up his college roommates and learned about his <a href="https://www.thecrimson.com/article/2016/4/17/merrick-garland-harvard/">sick karate moves</a>.
      </p>
      <p>
        At FM, we do a lot more than sit around and look cool. (Although we do a fair amount of that too.) We want you to join us.
      </p>
      <p> Any questions? Want more information? Don't hesitate to contact our FM Comp Directors, {% include comp_director.html director=site.magazine.dir1 %} or {% include comp_director.html director=site.magazine.dir2 %} with any and all questions and concerns. </p>
    </div>
  </div>
</div>
