---
layout: base
---
<div class="overlay">
  <div class="page-title">
    <h1>magazine</h1>
  </div>
  <div>
    <div class="text">
      <p>
        Storytelling. Style. Impactful investigations.
      </p>
      <p>
        Fifteen Minutes, The Crimson’s weekly magazine, is Harvard’s home for narrative journalism. Since 1976, we have chronicled the people, politics, and phenomena that shape our campus and city.
      </p>
      <p>
        We publish across seven weekly content categories: The Scoop (in-depth reporting), Conversations (personality profiles), Retrospection (historical accounts), Introspection (personal essays), Around Town (scene reports), Levity (satire), and Inquiry (cultural criticism). What unites our coverage is our commitment to storytelling and style. We craft vivid stories about the characters and cultural forces driving the news. We do so with wit, verve, and precision.
      </p>
      <p>
        Our mission is made clearest by our cover stories. Scrutinies, as we like to call them, are long-form deep dives into a variety of subjects — <a href="https://www.thecrimson.com/article/2024/10/12/cambridge-reparations-scrut/">from the Cambridge government’s approach to reparations</a>, <a href="https://www.thecrimson.com/article/2024/11/22/harvard-tarek-masoud-israel-palestine-dialogue/">to campus dialogue efforts in the wake of October 7th</a>, <a href="https://www.thecrimson.com/article/2024/9/29/harvard-influencer-scrut/">to student influencers leveraging the Harvard brand</a>. Scrutinies consistently rank among the most-read articles on The Crimson’s website, and they are regularly honored at the national level by the Associated College Press Awards and the Society for Professional Journalists.
      </p>
      <p>
        At FM, we lend critical eyes and surprising angles to timely news threads, publishing stories that <a href="https://www.thecrimson.com/article/2002/11/21/the-secret-court-of-1920-at/">reach national audiences</a> and <a href="https://www.thecrimson.com/article/2022/4/7/adams-fireplace/">create change on campus</a>. We cultivate our writers’ unique voices, refining their ideas through thoughtful, rigorous editing. We want you to join us.
      </p>
      <p>
        Prospective magazine writers will:
      </p>
      <ul>
        <li>Attend weekly comp seminars, where you’ll learn everything you need to know about writing for FM, from interview basics to structure and style</li>
        <li>Read and discuss stories from <em>The New Yorker</em>, <em>The Atlantic</em>, and <em>New York Magazine</em>, among other professional magazines, isolating what makes the story tick and learning to apply those techniques to your own writing</li>
        <li>Pitch stories at writers’ meetings on Monday evening, where you’ll workshop your story ideas and meet the full magazine staff</li>
        <li>Write four articles across FM’s many content categories, which you’ll refine in weekend sessions with experienced editors</li>
        <li>Grow immensely as a reporter, writer, and thinker</li>
    </ul>
      <p> Any questions? Want more information? Don't hesitate to contact our FM Comp Directors, {% include comp_director.html director=site.magazine.dir1 %} or {% include comp_director.html director=site.magazine.dir2 %} with any and all questions and concerns. </p>
    </div>
  </div>
</div>
