---
layout: base
---
<div class="overlay">
  <div class="page-title">
    <h1>multimedia</h1>
  </div>
  <div>
    <div class="text">
      <p>
        A picture is worth a thousand words. We at Multimedia are committed to bringing The Crimson to life with our photo, video, and podcast content. The 1,000+ photos we publish each year fill the online and print pages of the News, Sports, Arts, and FM boards. Our videos air on YouTube and Instagram, where they received more than 1 million combined views last year, and they have been featured on other sources such as Time, Fox News, Business Insider, The Huffington Post, and Boston Magazine. Our award-winning flagship news podcast, <i>Newstalk</i>, publishes weekly to thousands of listeners across the country and world. As The Crimson moves towards a digital-first future, Multimedia journalism is the core of the operation, and we are continuing to expand our reach into new online and interactive content.
      </p>
      <p>
        Joining Multimedia will change your perspective of Harvard and the Cambridge community. Through Multimedia, you will have the access to photograph, video, and report on a wide range of events, from speeches by heads-of-state and student protests to sports games and cultural performances. Through Multimedia, you will have the ability to access and report on events including sports games, all campus theater and music productions, protests,  speeches by heads-of-state, breaking news events, and more.
      </p>
      <p>
        During the Multimedia Comp, you will learn:
        <ul>
          <li>
            How to manually use a camera for taking both photographs and video footage, as well as using more complex video cameras and equipment. Owning a DSLR camera is not at all a requirement for the Multi Comp.
          </li>
          <li>
            How to use Adobe programs such as Photoshop, Lightroom, Premiere, and Audition.
          </li>
          <li>
            How to pitch and produce long-form multimedia projects including photo essays, videos, and podcasts.
          </li>
        </ul>
      </p>
      <p>
        Check out some of our most recent work from Multimedia
      </p>
      <ul>
        <li><a href="https://www.thecrimson.com/article/2023/2/23/ben-bird-photo-essay/">Bird Brilliance: Exploring Harvard's Ornithology Collection</a>—By Ben Y. Cammarata</li>
        <li><a href="https://www.thecrimson.com/article/2023/4/24/eleganza-2023-in-photos/">In Photos: Eleganza 2023</a>—By Joey Huang</li>
        <li><a href="https://www.thecrimson.com/article/2023/4/25/unabomber-the-man-the-myth-and-the-manifesto-podcast/">The Unabomber: The Man, the Myth, and the Manifesto</a>—By Jem K. Williams, Maya M.F. Wilson, Frank S. Zhou </li>
        <li><a href="https://newstalk.transistor.fm/">Harvard Newstalk</a>—By Jina H. Choe and Frank S. Zhou</li>
        <li><a href="https://youtu.be/6LF3EyNFluE?feature=shared">Protesters for Harvard Ethnic Studies Department Disrupt President Gay's Ice Cream Social</a>—By Sami E. Turner and Julian J. Giordano </li>
        <li><a href="https://youtu.be/vuTzp4uE0vg?feature=shared">Harvard's Ramadan Celebrations</a>—Marina Qu</li>
      </ul>
      <p>
        We are excited to run Multimedia's expedited comp for its second semester. We will teach you all the basic skills you need in only six weeks so that you can start seeing your work published as soon as possible.
      </p>
      <p>
        Whether you're someone who has only ever used the camera on your iPhone, or you're an AFVS concentrator working on a film thesis, there is a place for you on The Crimson's Multimedia board.
      </p>
      <p> In addition to everything mentioned above, you will have the opportunity to contribute to the nation's oldest continuously published daily college newspaper with a fantastic group of people all while having a great time. We hope to see you soon!
      </p>
      <p>
        Any questions? Want more information? Don&rsquo;t hesitate to contact our Multimedia Comp Directors, {% include comp_director.html director=site.multimedia.dir1 %} and {% include comp_director.html director=site.multimedia.dir2 %} with any and all questions and concerns.
      </p>
    </div>
  </div>
</div>
