---
layout: base
---
<div class="overlay">
  <div class="page-title">
    <h1>multimedia</h1>
  </div>
  <div>
    <div class="text">
      <p>
        A picture is worth a thousand words. We at Multimedia are committed to bringing The Crimson to life with our photo, video, and podcast content. Multimedia’s photographs appear on the front page of The Crimson daily, and on the weekly Sports, Arts, and FM sections. Our videos air on thecrimson.com and have been featured on other sources such as Time, Business Insider, The Huffington Post, Boston Magazine, and Yahoo! News. As The Crimson is moving towards a more digital interface, Multimedia is hoping to expand its reach to new online content including new weekly podcasts and videos on top of photography. 
      </p>
      <p>
        Joining Multimedia will change your perspective of Harvard. As members of Multimedia, you will be able to see Harvard through a new lens, exposing yourself to the Harvard community from daily news events to cultural performances. Through Multimedia, you will have the ability to access and report on events including sports games, all campus theater and music productions, and speeches by heads-of-state, and more. 
      </p>
      <p>
        During the Multimedia Comp, you will learn:
        <ul>
          <li>
            How to manually use a camera for taking both photographs and video footage, as well as using more complex video cameras and equipment. Owning a DSLR camera is not at all a requirement for the Multi Comp.
          </li>
          <li>
            How to use Adobe programs such as Photoshop, Lightroom, Premiere, and Audition. 
          </li>
          <li>
            How to write and produce podcasts.
          </li>
          <li>
            How to take editorial footage.
          </li>
          <li>
            How to write effective captions.
          </li>
          <li>
            How to pitch and produce long-form multimedia projects including photo essays and videos
          </li>
        </ul>
      </p>
      <p>
        Check out some of our most recent work from Multimedia
      </p>
      <ul>
        <li><a href="https://www.thecrimson.com/article/2021/10/30/hgsu-strike-2021/">Harvard’s Graduate Student Union Goes on Strike, A Second Time</a>—by Angela Dela Cruz, Zadoc I. N. Gee, Jason D. Lam, Truong L. Nguyen, Aiyana G. White</li>
        <li><a href="https://www.thecrimson.com/article/2021/9/2/convocation-2021-photo-essay/">Historic Convocation for Both Freshmen and Sophomore Classes</a>—by Pei Chao Zhuo, Ryan N. Gajarawala, Zadoc I. N. Gee, Thomas Maisonneuve, Truong L. Nguyen </li>
        <li><a href="https://www.thecrimson.com/article/2021/3/10/oneyear-juxtaposition-photoessay/">March 10, Then and Now</a>—James S. Bikales, Ryan N. Gajarawala, Zadoc I. N. Gee, Allison G. Lee, Andrew Lu </li>
        <li><a href="https://www.thecrimson.com/article/2021/9/7/weekend-sports-9-5-2021-photo-essay/">Harvard Athletic Events Return to Campus in Full Force</a>— Owen A. Berger, Zadoc I. N. Gee, Aiyana G. White</li>
        <li><a href="https://www.thecrimson.com/article/2020/2/4/-woman-of-year-2020-photoessay/">Elizabeth Banks, Hasty Pudding's Woman of the Year</a>—Ryan N. Gajarawala, Sara Komatsu, Allison G. Lee, Crimson Staff Writers </li>
        <li><a href="https://www.thecrimson.com/article/2020/3/25/ghungroo-photo-essay-2020/">Ghungroo 2020</a>—Allison G. Lee  </li>
      </ul>
      <p>
        We are excited to hold the Crimson Multimedia comp in-person this year, and we hope to welcome you back with even more Multimedia events including mixers and travelling photowalks. Whether you’re someone who has only ever used the camera on your iPhone, or you’re an AFVS concentrator working on a film thesis, there is a place for you on The Crimson’s Multimedia board. 
      </p>
      <p>
        In addition to everything mentioned above, you will have the opportunity to contribute to the nation’s oldest continuously published daily college newspaper with a fantastic group of people all while having a great time. We hope to see you soon! 
      </p>
      <p>
        Any questions? Want more information? Don&rsquo;t hesitate to contact our Multimedia Comp Directors, {% include comp_director.html director=site.multimedia.dir1 %} and {% include comp_director.html director=site.multimedia.dir2 %} with any and all questions and concerns.
      </p>
    </div>
  </div>
</div>
