---
layout: base
---
<div class="overlay">
	<div class="page-title">
		<h1>technology</h1>
	</div>
	<div>
		<div class="text">
			<p>The Crimson’s Tech board is the only organization on campus where you’ll get to work on a tech-related project with real users, real consequences, and real-world experience.</p>
			<p>And this year will be more exciting than ever. Learn how to work in teams as engineers, and, ultimately, contribute to <strong>the largest redesign of The Crimson site and backend to date</strong> — happening this year — using industry-relevant frameworks such as React, NextJS, and TailwindCSS.
			</p>
			<p>You’ll be working with a production code-base and see the impact: The Crimson gets {{ site.yearly_page_views_millions }} million views a year, and we are the go-to source for Harvard-related news.
			</p>
			<p>If you have no React experience: No worries! We have built an extensive but efficient workshop series to help you get started.
			</p>
			<p>If you know React from elsewhere: Awesome — we look forward to having you on board as a contributor!
			</p>
			<p>For people interested in backend development, The Crimson also has an extensive stack built with Docker, Django, GraphQL,  and PostgreSQL, hosted on AWS. We currently operate using our own proprietary content management system — one of few newspapers (even including professional ones) to do it.
			</p>
			<p>The Tech Comp is designed to accommodate programmers with all levels of experience. However, it will be highly beneficial for the comp to be experienced with some other programming language; and it doesn’t have to be web development.
			</p>
			<p>
				If you have any questions or special circumstances you want to discuss, contact the Tech Chairs {% include comp_director.html director=site.technology.dir1 %} and {% include comp_director.html director=site.technology.dir2 %}.
			</p>
		</div>
	</div>
</div>
