---
layout: base
---
<div class="overlay">
	<div class="page-title">
		<h1>technology</h1>
	</div>
	<div>
		<div class="text">
			<p>
				<a href="https://www.thecrimson.com/">The Crimson</a> gets {{ site.yearly_page_views_millions }} million pageviews every year. That is a lot of views, and we use some cutting edge technology to make it happen. As an associate you will learn about the three major parts of Crimson Tech:
			</p>
			<h4> Web Dev: </h4>
			<p> You will learn about our React front-end, Django back-end, database work, and much, much more. If it’s web-related, we probably use it. Recently, the tech department has:
			</p>
			<ul>
				<li>Implemented a frontend redesign, bringing you <a href="https://www.thecrimson.com/topic/guide-to-virtual-visitas/">beautiful new templates</a></li>
				<li>Designed the back side of countless special web features like <a href="http://features.thecrimson.com/2013/frosh-survey/">the freshman survey</a></li>
				<li>Automated the sending of the daily newsletter to speed up workflow</li>
				<li>Built the exact page you are on right now</li>
				<li>In addition to countless more projects&#8230</li>
			</ul>
			<h4> Data Science: </h4>
			<p> Tech associates collaborate with News and other boards to work on collecting data through web scraping and data analysis, and turn the data into beautiful graphics to be featured on our website. The comp will teach you how to use Pandas and BeautifulSoup. </p>
			<h4> Web Design: </h4>
			<p> We want the Crimson website to be user-friendly and aesthetically pleasing for our online readers. You will learn how to work with Figma to improve all users' experiences on <a href="https://www.thecrimson.com/"> thecrimson.com. </a></p>
			<p>
				The Tech Comp is designed to accommodate programmers with all levels of experience&mdash;many have joined the board before even finishing CS50, and others have come on with years of web programming experience. We tailor the comp to the individual and make sure everyone learns the tools they need without repeating things people have already seen.
			</p>
			<p>
				f you have any questions or special circumstances you want to discuss, contact {% include comp_director.html director=site.technology.dir1 %} and {% include comp_director.html director=site.technology.dir2 %}.
			</p>
		</div>
	</div>
</div>
